<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="header-container">
      <app-incident-header [title]="'Incident Tracker'"></app-incident-header>
      <app-service-selector
        [selectedServices]="selectedServices"
        (serviceChange)="onServiceChange($event)"
      ></app-service-selector>
      <app-handel-list
        [handlers]="handlers"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [displayPages]="displayPages"
        [isLoading]="isLoading"
        [errorMessage]="errorMessage"
        [searchText]="searchText"
        [selectedStatus]="selectedStatus"
        [statusOptions]="statusOptions"
        (searchTextChange)="onSearchTextChange($event)"
        (statusChange)="onStatusChange($event)"
        (filterClicked)="onFilterClick()"
        (sortChanged)="onSortChanged($event)"
        (pageChanged)="onPageChanged($event)"
        (incidentSelected)="onIncidentSelected($event)"
      ></app-handel-list>
    </div>
  </div>
</div>
