.incident-header{
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
    &__actions {
    display: flex;
    align-items: center;
  }

  &__button {
    background-color: #4a4a4a !important;
    color: #ffffff !important;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
      background-color: #3a3a3a !important;
    }
  }

  &__icon {
    font-size: 20px;
    color: white;
  }

}
