.incident-header {
  &__actions {
    display: flex;
    align-items: center;
  }

  &__button {
    background-color: #5b5f66 !important;
    color: #ffffff !important;
    border-radius: 3px;
    padding: 6px 16px;
    font-weight: 600;
    min-width: 170px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &:hover {
      background-color: #4a4e55 !important;
    }
  }

  &__label {
    font-size: 14px;
  }

  &__icon {
    font-size: 19px;
    color: white;
  }
}
